<!DOCTYPE html>
<html lang="en">
<head>
  <!--Bootstrap theme link and navbar in layouts/application.html.erb-->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class = "body">
    <h1>ID <%= current_user.id%>: <%= current_user.first_name%></h1>
    <br /><br />
    <% unless current_user.age && current_user.last_name && current_user.description %>
    <p>Complete your profile</p>
    <% end %>
    <%= link_to "Explore your city", session_path(session[:user_id]), method: :delete %>
    <br /><br />
    <%= link_to "Start gossiping", session_path(session[:user_id]), method: :delete %>
    <br /><br />
    <br /><br />
    <%= link_to "Log out", session_path(session[:user_id]), method: :delete %>
    <p>All your gossips </p>
    <%= render partial:"gossips/list",locals: {gossips: Gossip.all.where(user_id: current_user.id)} %>
  </div>
</body>
