<p>See what they say</p>

<div class="d-flex flex-wrap flex-wrap-reverse justify-content-around">
  <% comments.each do |c| %>
    <ul class="list-group col-3.5 " style="width:30%;">
      <li class="list-group-item ">
        <a href="/users/<%= c.author_id %>"><%=User.all.find(c.author_id).first_name %></a>
        says on <%= c.created_at.to_date%></li>
      <li class="list-group-item ">"<%= c.content %>" <br/><br />
        <a href="<%=edit_gossip_comment_path(id: c.id, gossip_id: params[:id])%>" >Modify</a><br/>
        <%= link_to "Delete", gossip_comment_path(gossip_id: @id, id: c.id), method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul><br />
  <% end %>
<div>
