<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>

<body>
  <div class = "body">
    <h1>Personal detail of User n°<%= @id%></h1>
    <div>
      <p>
        <%u = User.find(@id)%>
        First name: <%= u.first_name%><br>
        Email: <%= u.email%><br>
        Location: <%= u.city.name%><br>
        Gossips: <%= u.gossips.length%>
      </p>
    </div>
  </div>
</body>
