<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class = "body">
    <h1>Welcome to Gossip n°<%= @id%></h1>
    <div>
      <p>
        <% gossip = Gossip.all.find(@id)%>
        <% stamp = gossip.created_at.to_date%>
        <% tags = gossip.tags.map{|t| t}%>
        Gossip <%=@id %><br><br>
          On <%= stamp.to_date%><br><br>
          <a href = "/user/<%=gossip.user_id%>"><%= User.find(gossip.user_id).first_name%></a> says
          "<%= gossip.content%>"<br><br>
          Tags:
          <%tags.uniq.each do |t|%>
            <a href = "/tag/<%=t.id %>"><%= t.title%></a>,
          <%end%>
      </p>
    </div>
  </div>
</body>
