<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class = "body">
    <h1>Welcome to Gossip n°<%= @id%></h1><br /><br />
    <div class="card" style="width: 18rem;">
      <% gossip = Gossip.all.find(@id)%>
      <% user = User.find(gossip.user_id)%>
      <% stamp = gossip.created_at.to_date%>
      <% tags = gossip.tags.map{|t| t}%>
      <div class="card-header">
        From
        <a href = "/users/<%=gossip.user_id%>"><%= user.first_name%></a>
        of
        <a href = #><%= City.find(user.city_id).name%></a>:
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Title: <%= gossip.title%></li>
        <li class="list-group-item">"<%= gossip.content%>"</li>
        <li class="list-group-item">On <%= stamp.to_date%></li>
      </ul>
    </div>
  </div>
</body>
