<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
  <div class = "body">
    <h1>Welcome to Gossip n°<%= @id%></h1><br /><br />
    <div class="card" style="width: 50%;">
      <% gossip = Gossip.all.find(@id)%>
      <% user = User.find(gossip.user_id)%>
      <% stamp = gossip.created_at.to_date%>
      <% tags = gossip.tags.map{|t| t}%>
      <div class="card-header">
        <a href = "/users/<%=gossip.user_id%>">
          <%= user.first_name%>
        </a>
        says
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Title: <%= gossip.title%></li>
        <li class="list-group-item">Gossip: "<%= gossip.content%>"</li>
        <li class="list-group-item">On <%= stamp.to_date%></li>
      </ul>
    </div>
    <p>Not exactly this? Update <a href="<%= edit_gossip_path %>">here</a>!
    </p>
    <p>Outrageously irrelevant?

      <!--Every resource I found online uses tag, dunno how it looks like without-->
      <!--the method: :delete stuff works with js. I had accidentally cleared the application js so it took a while-->
      <!--Normally gossips have associated join tables and comments-->
      <!--had to add dependent: :destroy to avoid ugly red error messages-->
      Delete <%= link_to 'here', gossip_path(@id), method: :delete, data: { confirm: 'Are you sure?' } %>!
    </p>
    <p>Have an opinion? Share with us!
    </p><br>
    <%= form_tag url_for(action: 'update'), method: "put" do %>
      <%= label_tag 'Leave a comment:' %><br />
      <%= text_area_tag 'content', nil, class: 'form-control'%>
      <br /> <br />
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <%= submit_tag "Submit", class: 'btn btn-primary' %>
    <% end %>
  </div>
</body>
